<div
        id="sidebarId"
        class="position-relative d-flex flex-column flex-shrink-0 p-3 text-bg-dark bg-dark"
        style="width:100%;
height:100vh;
  transition: 0.3s;"
      >
        <span style="right: 10px; top: 2px" class="position-absolute">
          <button class="btn" onclick="toggleSidebar()">
            <i class="bi bi-x-circle"></i>
          </button>
        </span>

        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <i class="bi bi-lightning-charge"></i>
          <span class="fs-4 sidebar-text">JSQuizMaster</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/Formateur" class="nav-link active" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#home" />
              </svg>
              <span class="sidebar-text">Home </span>
            </a>
          </li>
            <% if(isFormateur){ %>

          <li>
            <a href="/classe" class="nav-link text-white">
             <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-mortarboard-fill"
                    viewBox="0 0 16 16"
                    >
                    <path
                        d="M8 0c-.7 0-1.4.1-2 .3L0 3l6 2.5V8L.5 9.9c-.2.1-.3.3-.3.5s.1.4.3.5L6 14v1l1 .5 1-.5v-1l5.5-3.1c.2-.1.3-.3.3-.5s-.1-.4-.3-.5L10 8V5.5L16 3l-6-2.5C9.4.1 8.7 0 8 0zm2 5.9v.9l-2 1.1L6 6.8v-.9l2 1.1 2-1.1z"
                    />
                    </svg>

              <span class="sidebar-text"> Classes </span>
            </a>
          </li>

          <li>
            <a href="/demandes" class="nav-link text-white">
             <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-mortarboard-fill"
                    viewBox="0 0 16 16"
                    >
                    <path
                        d="M8 0c-.7 0-1.4.1-2 .3L0 3l6 2.5V8L.5 9.9c-.2.1-.3.3-.3.5s.1.4.3.5L6 14v1l1 .5 1-.5v-1l5.5-3.1c.2-.1.3-.3.3-.5s-.1-.4-.3-.5L10 8V5.5L16 3l-6-2.5C9.4.1 8.7 0 8 0zm2 5.9v.9l-2 1.1L6 6.8v-.9l2 1.1 2-1.1z"
                    />
                    </svg>

              <span class="sidebar-text">Dommend</span>
            </a>
          </li>


            <li>
               <a href="/students" class="nav-link text-white">
             <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-mortarboard-fill"
                    viewBox="0 0 16 16"
                    >
                    <path
                        d="M8 0c-.7 0-1.4.1-2 .3L0 3l6 2.5V8L.5 9.9c-.2.1-.3.3-.3.5s.1.4.3.5L6 14v1l1 .5 1-.5v-1l5.5-3.1c.2-.1.3-.3.3-.5s-.1-.4-.3-.5L10 8V5.5L16 3l-6-2.5C9.4.1 8.7 0 8 0zm2 5.9v.9l-2 1.1L6 6.8v-.9l2 1.1 2-1.1z"
                    />
                    </svg>

              <span class="sidebar-text"> students </span>
            </a>
            </li>
              <li>
            <a href="./assign-quiz" class="nav-link text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-suit-diamond-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.45 7.4 7.2 1.067a1 1 0 0 1 1.6 0L13.55 7.4a1 1 0 0 1 0 1.2L8.8 14.933a1 1 0 0 1-1.6 0L2.45 8.6a1 1 0 0 1 0-1.2"
                />
              </svg>
              <span class="sidebar-text">  Tests </span>
            </a>
          </li>
          <li>
            <a href="./Formateur/qestion" class="nav-link text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-three-dots-vertical"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"
                />
              </svg>
              <span class="sidebar-text">  Qestions </span>
            </a>
          </li>
          <li></li>
            <a href="./Formateur/qestion" class="nav-link text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-three-dots-vertical"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"
                />
              </svg>
              <span class="sidebar-text">  levels </span>
            </a>
          </li>
          <li></li>
            <a href="./Formateur/qestion" class="nav-link text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-three-dots-vertical"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"
                />
              </svg>
              <span class="sidebar-text">  subjects </span>
            </a>
          </li>
            <% }else if (isStudent){ %>

          <li>
            <a href="./assign-quiz" class="nav-link text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-text-indent-left"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708M7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"
                />
              </svg>
              <span class="sidebar-text">your tests</span>
            </a>
          </li>
           <li></li>
            <a href="./Formateur/resulte" class="nav-link text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-text-indent-left"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708M7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"
                />
              </svg>
              <span class="sidebar-text">your tests results </span>
            </a>
          </li>
           <li></li>
            <a href="./Formateur/resulte" class="nav-link text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-text-indent-left"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708M7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"
                />
              </svg>
              <span class="sidebar-text">Assign Quiz</span>
            </a>
          </li>
          <% } %>
        </ul>
        <hr />
        <div class="dropdown">
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="./img/me.JPG"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2"
            />
            <strong class="sidebar-text"><%= user.name %></strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li> <form action="logout" method="post"><button class="dropdown-item" >Sign out</button></form></li>
          </ul>
        </div>
      </div>