      <!--sidebar menu start-->
      <div class="sidebar-menu" id="sidebar-menu">
          <button class="sidebar-menu-close"><i class="fa fa-times"></i></button>
          <div class="sidebar-inner">
              <div class="thumb">
                  <img src="assets/img/logo.png" alt="logo"/>
              </div>
              <p>We understand better that enim ad minim veniam, consectetur adipis cing elit, sed do </p>
              <p>We understand better that enim ad minim veniam, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <div class="sidebar-address">
                  <h4 class="mb-3">Contact Us</h4>
                  <ul>
                      <li><i class="fa fa-map-marker"></i>Lavaca Street, Suite 2000</li>
                      <li><i class="fa fa-envelope"></i>email@evha.com</li>
                      <li><i class="fa fa-phone"></i>(+880) 172570051</li>
                  </ul>
              </div>
              <div class="sidebar-subscribe">
                  <input type="text" placeholder="Email">
                  <button><i class="fa fa-angle-right"></i></button>
              </div>
              <ul class="social-media">
                  <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
          </div>
      </div>
      <!--sidebar menu end-->
      <div class="banner-area banner-area-1 mx-auto" style="background-image: url('assets/img/banner/1.jpg');">
          <div class="banner-bg"></div>
          <div class="container">
              <div class="row">
                  <div class="col-xl-6 col-lg-7 align-self-center">
                      <div class="banner-inner style-white text-center text-lg-left">
                          <img class="animate-img-1 top_image_bounce" src="assets/img/shape/3.png" alt="img">
                          <h6 class="b-animate-1 sub-title">Youcode_JSQuizMaster</h6>
                          <h1 class="b-animate-2 title">Quiz en Ligne</h1>
                          <p class="content b-animate-3">Plateforme Innovante pour la Digitalisation.</p>
                          <div class="btn-wrap">
                              <a class="btn btn-base b-animate-4 mr-3" href="contact.html">Discover More</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- banner end -->   
  
      <!-- intro start -->
      <div class="intro-area intro-one-area mg-top--82">
          <div class="container">
              <div class="row no-lg-gutters justify-content-center">
                  <div class="col-lg-4 col-md-6">
                      <div class="single-intro-inner single-intro-inner-active media">
                          <div class="thumb media-left">
                              <img src="assets/img/intro/2.png" alt="img">
                          </div>
                          <div class="details media-body">
                           <a href="/Login?type=Formateur" class="border-0 ">   
                           <h4>Formateur</h4>
                              <p>National Learn Quizsit amet, adipe elit</p>
                              <h4 class="card-title text-xl"></h4></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="single-intro-inner media">
                          <div class="thumb media-left">
                              <img src="assets/img/intro/1.png" alt="img">
                          </div>
                          <div class="details media-body">
                           <a href="/Login?type=Student" class="border-0">   
                           <h4>Student</h4>
                              <p>licence Learn Quizsit amet, adipe elit</p>
                              <h4 class="card-title"></h4></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- intro end -->
  
      <!-- about area start -->
      <div class="about-area bg-relative pd-top-90 pd-bottom-120">
          <div class="container">
              <div class="about-area-inner">
                  <div class="row">
                      <div class="col-lg-6 col-md-11">
                          <div class="about-thumb-wrap about-left-thumb">
                              <img class="img-1" src="assets/img/about/1.png" alt="img">
                              <img class="img-2" src="assets/img/about/2.png" alt="img">
                              <img class="img-3" src="assets/img/about/3.jpeg" alt="img">
                          </div>
                      </div>
                      <div class="col-lg-6 align-self-center">
                          <div class="about-inner-wrap mt-2 pt-4 pt-lg-0">  
                              <div class="section-title mb-0">
                                  <h6 class="sub-title left-line">About Us</h6>
                                  <h2 class="title">Best Quizcompany in the world</h2>
                                  <p class="content">We understand better that enim ad minim veniam, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum consectetur dolor sit amet, adipiscing elit, </p>
                                  <h4 class="small-title">Your QuizSkills</h4>
                                  <a class="btn btn-base" href="#">Register</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="team-area bg-relative pd-top-115 pd-bottom-90">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-xl-6 col-lg-7 col-md-11">
                      <div class="section-title text-center">
                          <h6 class="sub-title double-line">Meet Out Team</h6>
                          <h2 class="title">Creative Instractor</h2>
                      </div>
                  </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col-lg-4 col-md-6">
                      <div class="single-team-inner style-overlay">
                          <div class="thumb">
                              <img src="assets/img/team/1.jpg" alt="team">                       
                              <ul class="social-media">
                                  <li>
                                      <a class="btn-base-m" href="#">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a class="btn-base-m" href="#">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a class="btn-base-m" href="#">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div> 
                          <div class="details">
                              <h4><a href="team-details.html">Khalid Hissoune</a></h4>
                              <span>Instructor</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="single-team-inner style-overlay">
                          <div class="thumb">
                              <img src="assets/img/team/2.jpg" alt="team">                       
                              <ul class="social-media">
                                  <li>
                                      <a class="btn-base-m" href="#">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a class="btn-base-m" href="#">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a class="btn-base-m" href="#">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div> 
                          <div class="details">
                              <h4><a href="team-details.html">Hounati Ahmed</a></h4>
                              <span>Instructor</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="single-team-inner style-overlay">
                          <div class="thumb">
                              <img src="assets/img/team/3.jpg" alt="team">                       
                              <ul class="social-media">
                                  <li>
                                      <a class="btn-base-m" href="#">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a class="btn-base-m" href="#">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a class="btn-base-m" href="#">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div> 
                          <div class="details">
                              <h4><a href="team-details.html">Yassine Elmiri</a></h4>
                              <span>Instructor</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <footer class="footer-area bg-overlay" style="background-image: url('assets/img/bg/3.png');">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-6">
                      <div class="widget widget_about pr-xl-4">
                          <div class="thumb">
                              <img src="assets/img/logo-2.png" alt="img">
                          </div>
                          <div class="details">
                              <p>Youcode JSQuizMaster to bring significant changes online based learning by doing resed cased learning by cosin extensive of arch for Quizcourse</p>
                              <ul class="social-media">
                                  <li>
                                      <a class="btn-base-m" href="#">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a class="btn-base-m" href="#">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a class="btn-base-m" href="#">
                                          <i class="fa fa-instagram"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a class="btn-base-m" href="#">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-2 col-md-6">
                      <div class="widget widget_nav_menu">
                          <h4 class="widget-title">Quick LInks</h4>
                          <ul>
                              <li><a href="home.html">Home</a></li>
                              <li><a href="about.html">About</a></li>
                              <li><a href="blog.html">Blog</a></li>
                              <li><a href="#">Course</a></li>
                              <li><a href="contact.html">Contact Us</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="widget widget_contact pl-lg-3">
                          <h4 class="widget-title">Contact Us</h4>
                          <ul class="details">
                              <li><i class="fa fa-phone"></i> +(212)612 44 12 46</li>
                              <li><i class="fa fa-envelope"></i> info@youcode.com</li>
                              <li><i class="fa fa-map-marker"></i> Pl, marpc NW1 The United of Rochester Kingdom</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer-bottom text-center">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12 align-self-center">
                          <p>Copyright © 2025 youcode. All Right reserved.</p>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
      <!-- footer area end -->
        <div class="back-to-top">
          <span class="back-top"><i class="fa fa-angle-up"></i></span>
      </div>

  
  
     
    
    