

    <header class="bg-primary text-white text-center py-5">
      <div class="container">
        <h1>ahmed</h1>
        <p class="lead">Apprenez et enseignez avec des outils innovants</p>
      </div>
    </header>
    <div class="container full-height p-5">
      <div class="row w-100">
         <div class="col-6 ">
            <div class="card text-center p-5" style="background-color: #321066;">
               <div class="card-body" >
                <a href="/Login?type=Student" class="border-0 "><h4 class="card-title text-xl">Student</h4></a>
                  
                 
               </div>
            </div>
         </div>
         <div class="col-6">
            <div class="card text-center p-5" style="background-color: #694D93;">
               <div class="card-body">
            <a href="/Login?type=Formateur" class="border-0"><h4 class="card-title">Formateur</h4></a>

               </div>
            </div>
         </div>
      </div>
   </div>
    
    